/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   Enter into terminal:
   less-watch-compiler less css index.less
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
/* ----- Set color variables ----- */
/* Font's and background for website */
html,
body {
  height: 100%;
  font-size: 62.5%;
  margin: auto;
  background-color: #f9f7f7;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 5rem;
}
h3 {
  font-size: 4rem;
}
h4 {
  font-size: 3.5rem;
}
h5 {
  font-size: 3rem;
}
h6 {
  font-size: 2.5rem;
}
h7 {
  font-size: 2rem;
}
/* -----Index CSS below this mark----- */
.homePage {
  margin: 0;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  text-align: center;
  color: #112d4e;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana;
}
.homePage h1 {
  margin-bottom: 10px;
}
.homePage h4 {
  margin-bottom: 10px;
}
.homeNav {
  font-size: 2rem;
  margin-top: 20px;
}
.homeLink {
  text-decoration: none;
  padding: 10px;
  color: #3f72af;
}
@media (max-width: 500px) {
  .homePage h1 {
    font-size: 4rem;
  }
  .homePage h4 {
    font-size: 3rem;
  }
  .homeLink {
    font-size: 2rem;
  }
}
/* Navigation CSS for all pages except Index */
.topNav {
  position: sticky;
  top: 0;
  background-color: #f9f7f7;
  font-size: 2.5rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
.topNav .link {
  text-decoration: none;
  padding: 5px 10px;
  color: #112d4e;
  border-left: 3px solid #f9f7f7;
}
@media (max-width: 500px) {
  .topNav .link {
    padding: 5px;
  }
}
.topNav .active {
  border-bottom: #112d4e 3px solid;
}
.topNav a:hover {
  font-weight: bold;
}
@media (max-width: 500px) {
  .topNav {
    justify-content: center;
    font-size: 2rem;
  }
}
/* 	----- About CSS below this mark -----	 */
header {
  display: flex;
  width: 65%;
  margin: auto;
  margin-top: 50px;
  padding: 50px 0px 20px 50px;
  align-items: center;
}
header img {
  border-radius: 100%;
}
header .header {
  text-align: center;
  padding-left: 50px;
}
@media (max-width: 900px) {
  header .me {
    width: 30%;
    padding-left: 10px;
  }
  header h1 {
    font-size: 5rem;
  }
  header h3 {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  header h1 {
    font-size: 4rem;
  }
  header h3 {
    font-size: 2rem;
  }
}
.intro {
  padding: 100px 0px;
  font-size: 2.9rem;
  margin: 10px auto;
  width: 65%;
}
.intro b {
  font-weight: bold;
  font-size: 3rem;
}
@media (max-width: 900px) {
  .intro b {
    font-size: 3.25rem;
  }
}
@media (max-width: 500px) {
  .intro b {
    font-size: 2.5rem;
    margin-top: 20px;
  }
}
@media (max-width: 900px) {
  .intro {
    font-size: 3.25rem;
  }
}
@media (max-width: 500px) {
  .intro {
    font-size: 2.5rem;
    margin-top: 20px;
  }
}
.skills {
  background-color: #dbe2ef;
  width: 100%;
  margin: 50px auto;
  padding: 100px 0px;
}
.skills p {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 50px;
}
.skills .list {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
  white-space: nowrap;
}
.skills .list .skill ul {
  width: 450px;
  margin-bottom: 50px;
}
@media (max-width: 900px) {
  .skills .list .skill {
    flex-basis: 40%;
    font-size: 1.9rem;
  }
}
@media (max-width: 600px) {
  .skills .list .skill {
    flex-basis: 32%;
    font-size: 1.8rem;
  }
}
.skills i,
.skills span {
  color: #3f72af;
  font-size: 2.2rem;
}
.websites {
  width: 100%;
  margin: 50px auto;
}
.websites p {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  padding-top: 50px;
}
.websites .webLists {
  padding: 50px 0px 100px 0px;
  width: 65%;
  margin: 0 auto;
}
.websites li {
  font-size: 2rem;
}
.heroku {
  width: 15px;
  height: auto;
}
.education {
  width: 100%;
  background-color: #dbe2ef;
  margin: 50px auto;
  padding: 100px 0px;
}
.education p {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 50px;
}
.education .eduCont {
  font-size: 2rem;
  width: 65%;
  margin: 0 auto;
}
.education .eduCont .bear {
  width: 30px;
  height: auto;
}
.education .eduCont .lambda {
  width: 25px;
  height: auto;
}
@media (max-width: 900px) {
  .education {
    font-size: 1.9rem;
  }
}
@media (max-width: 600px) {
  .education {
    font-size: 1.8rem;
    margin-top: 3rem;
  }
}
.work {
  width: 80%;
  margin: 50px auto;
  padding: 50px 0px 100px 0px;
}
.work h5 {
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
.work h6 {
  padding: 0px 50px;
  padding-top: 50px;
}
.work h7 {
  font-style: italic;
  padding: 0px 50px;
}
.work p {
  font-size: 1.7rem;
  padding: 10px 50px;
}
/* ----- Portfolio CSS is below this mark ----- */
.container {
  margin: 0 auto;
  max-width: calc(100% - 4.5rem);
  margin-bottom: 50px;
}
.container h3 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
}
.container p {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 50px;
}
@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: calc(100% - 3.375rem);
  }
}
.single {
  margin-top: 50px;
}
.deployedTitle {
  text-align: center;
  margin-bottom: 25px;
}
.features {
  display: flex;
  flex-direction: column-reverse;
}
.features article {
  display: flex;
  align-items: center;
  border-top: solid 3px #dbe2ef;
  margin-bottom: 25px;
  padding-top: 25px;
}
@media (max-width: 500px) {
  .features article {
    display: block;
    text-align: center;
  }
}
.features article:last-child {
  border-top: 0;
  padding-top: 0;
}
.image {
  flex-basis: 50%;
}
.image img {
  width: 90%;
}
.inner {
  flex-basis: 50%;
}
.inner h4 {
  text-align: center;
  padding-bottom: 5px;
}
@media (max-width: 500px) {
  .inner h4 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
}
.inner p {
  padding-bottom: 25px;
  text-align: left;
}
.inner ul {
  padding-left: 20px;
}
@media (max-width: 500px) {
  .inner ul,
  .inner p {
    text-align: left;
  }
}
.inner li {
  font-size: 1.8rem;
  list-style-type: disc;
  line-height: 1.2;
}
.repo {
  font-size: 1.8rem;
  margin-top: 50px;
}
.repo a {
  text-decoration: none;
  margin: 20px;
}
.features article .inner > :last-child {
  margin-bottom: 0;
}
.footnote {
  font-size: 2rem;
  margin-left: 50px;
  margin-bottom: 50px;
}
/* ----- Contact CSS is below this mark ----- */
.contact {
  text-align: center;
}
.contact h4 {
  margin: 10rem 2rem 8rem;
}
@media (max-width: 500px) {
  .contact h4 {
    font-size: 2.5rem;
    margin-top: 5rem;
  }
}
.contact h6 {
  margin: 0rem 2rem 6rem;
}
@media (max-width: 500px) {
  .contact h6 {
    font-size: 2rem;
  }
}
.contact ul {
  column-count: 2;
  column-gap: 0%;
  padding-left: 20%;
  margin: 0rem 2rem 10rem;
  text-align: left;
}
@media (max-width: 710px) {
  .contact ul {
    padding-left: 15%;
  }
}
@media (max-width: 620px) {
  .contact ul {
    padding-left: 12%;
  }
}
@media (max-width: 560px) {
  .contact ul {
    padding-left: 10%;
  }
}
@media (max-width: 400px) {
  .contact ul {
    padding-left: 1%;
  }
}
.contact li {
  font-size: 2rem;
}
@media (max-width: 500px) {
  .contact li {
    font-size: 1.6rem;
  }
}
.contact i {
  color: #3f72af;
}
.linkIcons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.linkIcons a {
  font-size: 4rem;
  text-decoration: none;
  color: #3f72af;
}
@media (max-width: 500px) {
  .linkIcons a {
    font-size: 2rem;
  }
}
/* Footer CSS */
footer {
  text-align: center;
  margin-bottom: 25px;
}
footer a {
  display: inline-block;
  text-decoration: none;
  margin: 1rem;
  padding-left: 1rem;
  padding-bottom: 4rem;
  font-size: 1.8rem;
  color: #3f72af;
}
a:hover {
  font-weight: bold;
}
